html, body{
	margin :0;
}
body{
	background: url(back.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
	min-width: 1000px;
}
iframe {
    margin: none;
    padding: none;
    border: none;
	display:block;
}

/* HEADER */
#header{
	width: 100%;
	background-color: white;
	color: #4f4b4c;
	font-family: 'HeimatSans-Light', "Helvetica Neue", Helvetica, Verdana, Geneva, Arial, sans-serif;
	line-height: 13px;
	font-size: 14px;
	text-transform: uppercase;
	padding: 10px;
	height: 150px;
	min-width: 1000px;
	overflow: hidden;
}
#logo{
	opacity:0.8;
	height: 150px;
}
#logo:hover{
	opacity:1.0;
}

/* BANNER */
#banner{
	width: 100%;
	min-width: 1000px;
	height: 300px;
}

/* VIDEO */
.video_trigger{
	color: white;
	opacity: 0.8;
	text-align: center;
	overflow: hidden;
	display: table;
}
.video_trigger:hover{
	opacity: 1;
}

/* BODY */
#body{
	width: 100%;
	color: #4f4b4c;
	background-color: black;
	font-family: "Helvetica Neue", Helvetica, Verdana, Geneva, Arial, sans-serif;
	padding: 10px;
	min-width: 1000px;
}
.body{
	color: #666;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 1000px;
	margin: auto;
}
.title{
	font-size: 1.2em;
	text-align: center;
	font-family: "proxima heavy", "arial black", arial, sans-serif;
	text-transform: uppercase;
}
#videos{
	width: 100%;
	background-color: black;
	font-family: "Helvetica Neue", Helvetica, Verdana, Geneva, Arial, sans-serif;
	padding: 10px;
	min-width: 1000px;
	color: #f4f4f4;
	margin-top: 40px;
	margin-bottom: 40px;
	margin: auto;
}
#pictures{
	width: 100%;
	background-color: white;
	font-family: "Helvetica Neue", Helvetica, Verdana, Geneva, Arial, sans-serif;
	padding: 10px;
	min-width: 1000px;
	color: #4f4b4c;
	margin: auto;
}
#pictures a{
	color: #4f4b4c;
}
.thumbnails{
	width: 900px;
	margin: auto;
	margin-bottom: 20px;
}
.thumbnail{
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	width: 200px;
}
.thumbnail a{
	text-decoration: none;
	font-size: 12px;
	font-weight: 700;
	opacity: 0.8;
	text-align: left;
}
.thumbnails a:hover{
	opacity: 1;
}
#contact{
	width: 600px;
	font-family: "Helvetica Neue", Helvetica, Verdana, Geneva, Arial, sans-serif;
	padding: 10px;
	margin: auto;
}
.form{
	background: #333;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #d1d7da;
	font-size: 2em;
	width: 100%;
	padding: .25em;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.submit{
	background: #d1d7da;
	border: 0;
	cursor: pointer;
	display: block;
	padding: .5em 1em;
	text-transform: uppercase;
}
.submit:hover{
	background: #999;
}
/* FOOTER */
#footer{
	width: 100%;
	color: #4f4b4c;
	background-color: black;
	font-family: "Helvetica Neue", Helvetica, Verdana, Geneva, Arial, sans-serif;
	padding: 10px;
	height: 100px;
	min-width: 1000px;
}
#cr{
	font-size: 11px;
	color: #666;
	margin-top: 50px;
	text-align: center;
}
#cr:hover{
	color: #f4f4f4;
}

/* NAV MENU */
nav {
  height:40px;
  height: 800px;
  margin-top: 60px;
  float: right;
  margin-right: 20px;
}
nav ul {
  font-family: Arial, Verdana;
  font-size: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  display: block;
  position: relative;
  float: right;
  border-right: 1px solid #eeeeee
}
.noborder{
	border:none;
}
nav li ul { 
  display: none; 
}
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 7px 15px 3px 15px; 
  margin-left: 1px;
  white-space: nowrap;
  height:20px; /* Width and height of top-level nav items */
  width:120px;
  color: #4f4b4c;
  text-align:center;
}
nav ul li a:hover {
	outline: 0;
	color: #999999;
}